<h2>Beer Ratings</h2>
<p>
		Ratings count: <%= "#{@ratings.count}" %>
</p>

<%= link_to "Rate a Beer!", new_rating_path %>
<table class="table table-hover">
		<thead>
				<th>Beer</th>
				<th>Score</th>
		</thead>
		<% @ratings.each do |rating| %>
				<tr>
						<td><%= rating.beer.name %></td>
						<td><%= rating.score %></td>
				</tr>
		<% end %> </table>
