<h2>Beers Listed</h2>

<table cellspacing="0" id="beertable">
	<tr>
		<th>
			<a href="#" id="name">Name</a>
		</th>
		<th>
			<a href="#" id="style">Style</a>
		</th>
		<th>
			<a href="#" id="brewery">Brewery</a>
		</th>
	</tr>
</table>
